{{define "preheader"}}{{.From}} has shared a bucket with you.{{end}}
{{define "body"}}
<h1>Hello!</h1>
<p>{{.From}} has shared a bucket with you. Use the button below to access it and start collaborating with them:</p>
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td align="center">
            <a href="{{.WebURL}}/buckets/{{.Bucket.ID}}" class="f-fallback button" target="_blank">Access {{.Bucket.Name}}</a>
        </td>
    </tr>
</table>
<p>Welcome aboard,<br/>The Safebucket team</p>
<p><strong>P.S.</strong> Need help getting started? Check out our <a href="help_url">help documentation</a>.</p>
<table class="body-sub" role="presentation">
    <tr>
        <td>
            <p class="f-fallback sub">If you're having trouble with the button above, copy and paste the URL below into your web browser.</p>
            <p class="f-fallback sub">{{.WebURL}}/buckets/{{.Bucket.ID}}</p>
        </td>
    </tr>
</table>
{{end}}
