{{define "preheader"}}A new MFA device was added to your Safebucket account.{{end}}
{{define "body"}}
<h1>New MFA Device Enrolled</h1>
<p>A new MFA (Multi-Factor Authentication) device has been successfully added to your Safebucket account.</p>
<table class="attributes" width="100%" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td class="attributes_content" bgcolor="#F4F4F7">
            <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                    <td class="attributes_item">
                        <span style="font-weight: bold;">Device Name:</span> {{.DeviceName}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<p><strong class="text-success">Your account is now more secure!</strong> This device will be used as an additional
    verification step when you sign in.</p>
<p><strong class="text-danger">If you did not add this device</strong>, your account may be compromised. Please
    take the following steps immediately:</p>
<ul>
    <li>Change your password immediately</li>
    <li>Remove any unrecognized MFA devices</li>
    <li>Review your recent account activity</li>
    <li>Contact support if you notice any suspicious activity</li>
</ul>
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td align="center">
            <a href="{{.WebURL}}/settings" class="f-fallback button" target="_blank">Review Account Settings</a>
        </td>
    </tr>
</table>
<p>If you added this device yourself, no further action is needed. This email is for your security and serves as a
    record of changes to your account.</p>
<p>Thank you,<br/>The Safebucket team</p>
{{end}}
