{{define "preheader"}}Your Safebucket password has been successfully reset.{{end}}
{{define "body"}}
<h1>Password Reset Successful</h1>
<p>Your password has been successfully reset. You can now use your new password to sign in to your Safebucket
    account.</p>
<div class="success-icon">
    <div>
        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 6L9 17L4 12" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
</div>
<p><strong>Reset Details:</strong></p>
<table class="attributes" width="100%" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td class="attributes_content" bgcolor="#F4F4F7">
            <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                    <td class="attributes_item">
                        <span style="font-weight: bold;">Date:</span> {{.ResetDate}}
                    </td>
                </tr>
                <tr>
                    <td class="attributes_item" style="padding-top: 8px;">
                        <span style="font-weight: bold;">Email:</span> {{.Email}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td align="center">
            <a href="{{.WebURL}}" class="f-fallback button" target="_blank">Sign In to Safebucket</a>
        </td>
    </tr>
</table>
<p><strong>Security Reminder:</strong> If you did not make this change or if you believe an unauthorized person has
    accessed your account, please contact our support team immediately.</p>
<p>For your security, we recommend:</p>
<ul>
    <li>Using a strong, unique password</li>
    <li>Not sharing your password with anyone</li>
    <li>Enabling two-factor authentication if available</li>
</ul>
<p>Thank you,<br/>The Safebucket team</p>
{{end}}
