{{define "preheader"}}{{.From}} has invited you to join Safebucket.{{end}}
{{define "body"}}
<h1>You've been invited to Safebucket!</h1>
<p>Hi there,</p>
<p><strong>{{.From}}</strong> has invited you to collaborate on the bucket <strong>"{{.BucketName}}"</strong> in
    Safebucket.</p>
<p>Safebucket is a secure file storage and sharing platform where you can safely store, organize, and collaborate on
    files with your team.</p>
<p>You've been granted <strong>{{.Group}}</strong> access to this bucket, which means you can {{.GroupDescription}}.</p>
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td align="center">
            <a href="{{.InviteURL}}" class="f-fallback button" target="_blank">Accept Invitation</a>
        </td>
    </tr>
</table>
<p>Or copy and paste this URL into your browser: <a href="{{.InviteURL}}">{{.InviteURL}}</a></p>
<div class="body-sub">
    <p class="sub">This invitation is specifically for <strong>{{.To}}</strong>. If you received this email by mistake,
        you can
        safely ignore it.</p>
</div>
<p>Thank you,<br/>The Safebucket team</p>
{{end}}
