name: Test Quality
on:
  push:
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Golangci-lint
        uses: golangci/golangci-lint-action@v6.1.0
        with:
          args: --timeout=2m
          working-directory: ${{ github.workspace }}
