name: Test Quality
on:
  push:
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Golangci-lint
        uses: golangci/golangci-lint-action@v6.1.0
        with:
          args: --timeout=2m
          working-directory: ${{ github.workspace }}

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.23

      - name: Build
        run: go build -v ./...

      - name: Run unit tests
        run: go test -v ./...
